# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.py,cover

# Virtual env
venv/
.env

frontend/node_modules/

# SQLite database
*.db

# Storage (uploads + reports)
storage/uploads/*
storage/reports/*

!storage/uploads/.keep
!storage/reports/.keep

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/